html {
  height: 100%;
  width: 100%;
}

div.a {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

<hr {
  width: 10px;
}

class {
  background: rgba(0, 0, 0, 0.5);
}

img {
  opacity: 0.6;
}

img:hover {
  opacity: 1.0;
}

img.icon {
  opacity: 1.0;
  display: block;
  width: 35px;
  height: 35px;
}
